# WK1 pandas Basics <hr style="border:2.5px solid #126782"></hr>

Name: **Kyla B. Torrendon** <br>
Course: **CpE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

Check the **version** of pandas

In [34]:
pd.__version__

'2.2.3'

# Creating Series Object

## List to Series

Create a **list** named **employee_names**

In [35]:
employee_names = [' Ammy White', "Jack Stewart", 'Richard Lauderdale', 'Sarah Johnson']
employee_names

[' Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data tpe of *empoyee_names* object is a **list**

In [36]:
type(employee_names)

list

In [37]:
Create **pandas Series object** named **employee_names_Series** containing the elements from the *employee_names* list

SyntaxError: invalid syntax (4153676838.py, line 1)

In [19]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_Series* object is a **pandas Series**

In [20]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5,8,3 and 10

In [24]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

Create a **NumPy Array** onject named **array_age**

In [28]:
array_age = np.array([50,53,35,43])
array_age

array([50, 53, 35, 43])

Verify that the data type *array_age* object is an **NumPy Array**

In [29]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from *array_age*

In [30]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of *series_age* oject is **Series**

In [32]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [33]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

In [15]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kyla\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kyla\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kyla\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kyla\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kyla\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\kyla\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np

# pandas DataFrames

Create the given example DataFrame

In [46]:
data = {
    "Name" : ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson'],
    "Age" : [50, 53, 35, 43],
    "Working Experience (Yrs.)" : [5,8,3,10]} 
df= pd.DataFrame(data)
df

                 Name  Age  Working Experience (Yrs.)
0           Amy White   50                          5
1        Jack Stewart   53                          8
2  Richard Lauderdale   35                          3
3       Sarah Johnson   43                         10

In [48]:
name= ['Amy White', 'Jack Stewart', 'Richard Launderdale', 'Sarah Johnson'],
age = [50,53,35,43]
work_exp =[5,8,3,10]

df= pd.dataFrame({
    "Name":name,
    "Age":age,
    "Working Experience (Yrs.)":work_exp
})
df

AttributeError: module 'pandas' has no attribute 'dataFrame'